* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quiz-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.quiz-card {
    border: 1px solid black;
}

.quiz-card img {
    width: 200px;
}

#error-message {
    color: red;
    display: none;
}

